$themeColor: #4a148c;
$themeColorLight: #7c43bd;
$themeColorDark: #12005e;
@mixin transition($transition){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

header,main{
	padding-left: 300px;
}
header{
	display: block;	
}
.sidenav.fixed{
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.container{
	width: 85%;
}
.navigation li{
	a{	
		display: table;
		padding: 0 34px;
		height: 64px;
		i,span{
			display: table-cell;
			vertical-align: middle;
			
		}
		i{
			width: 50px;
			margin-right: 24px;
			color: #000;
		}
		span{
			color: #565656;
		}
	}
}
h1{
	text-align: center;
}
h2{
	font-size: 3rem;
}
h3{
	color: $themeColorDark;
	font-size: 2rem;
	padding: 10px 0;
    border-bottom: 1px solid #d0d0d0;
}
h4{
	font-size: 1.7rem;
}

.banner-area{
	background-color: $themeColor;
	color: #fff;
	h2{
		margin: 0;
		padding: 2.1rem 0 1.68rem 0;
	}
}
.employee-management,
.buisness-management{
	display: none;
}

.fixed-bottom-right{
	position: fixed;
	bottom: 45px;
	right: 25px;
	background-color: $themeColor;
}

.data-clickable tr{
	@include transition(background 200ms ease);
	cursor: pointer;
	&.active{
		background-color: $themeColorLight;
		color: #fff;
	}
	&:hover{
		opacity: 0.5;
	}
	td,th{
		border-radius: 0;
	}
}
.gender{
	padding: 0 .75rem;
}